[2015-07-03 03:26] gbisheimer opened #1 "Windows port"
Hi. I'm very interested in your project as I was about to code the exact same thing but for windows.

I readed [here](http://mbus.sourceforge.net/) that it's possible to run this app under Cygwin. Could you please orient me how to do that? I need to access a couple of Modbus/RTU devices from the net and found this to be the best choice to do that.

Thanks for sharing!

[2015-07-03 11:02] 3cky commented on #1
Hi, hmm, I have no Windows machine for test right now, but first of all Cygwin environment with development tools should be installed as described in https://cygwin.com/install.html. Check packages `make` and `gcc-core` in  **Devel** category are selected, then install all resolved dependencies. After this you could try to compile mbusd using commands:
[code]
In case of errors, post log here, I'll

[2015-07-03 11:34] gbisheimer commented on #1
Hi Victor,

Will try that and let you know.

Thanks!

*Ing. Guillermo Bisheimer*

*B&S Sistemas de Control y Equipamientos*

Av. de los Constituyentes 1172

(E3116CIX) Crespo, Entre Ríos

Tel/Fax: (0343) 4950289

Cel: (0343) 154679052

WEB: www.bys-control.com.ar

e-mail: gbisheimer@bys-control.com.ar

skype: guillermo.bisheimer

2015-07-03 8:02 GMT-03:00 Victor Antonovich <notifications@github.co

[2015-07-03 22:46] gbisheimer commented on #1
We succesfully installed mbusd on Cygwin. We also had to install automake and autoconf packages to make it work.

Everything works great using 8N1 format but we cannot make it work using 8E1 or 8O1 formats. It gives some strange errors on the modbus TCP client (Negative Ack something...)

Did you test it using this formats? We are testing using a real PLC connected to the serial port line COM1. Cy

[2015-07-04 09:35] 3cky commented on #1
Yes, parity enabled modes were tested by user who requested this feature, but on Linux. Probably Cygwin have some quirks in parity mode handling, I'll try to check at Monday.

[2015-07-06 10:55] gbisheimer commented on #1
I've just testes under linux and works ok using 8E1 format. I'll use a VM with linux instead of Cygwin for this application.

Thank you very much for your help and for sharing this project!!!
Works great.

[2015-07-06 10:55] #1 closed

[2015-11-29 20:15] sandeen opened #2 "Concurrent connections fail"
I've noticed that if I have 2 clients with overlapping connections, one will fail.  Is it possible to queue requests and service them all in turn?

[2015-11-29 20:49] sandeen commented on #2
Hm, I should have read the manual, I see -C etc ... let me look into this a little.
I definitely do see failures on multiple connections:
    $ ./tt-status -i 10.0.0.122 & ./tt-status -i 10.0.0.122
    [2] 9476
    Status:
     Standby
    Error: Modbus read of 1 byte at addr 0 failed
    Error: Modbus read of 9 bytes at addr 0x300 failed

[2015-11-29 20:53] sandeen commented on #2
Hohum, restarted mbusd and now it's ok.  Sorry, if I run into it again I'll do a better job with debugging and try to see what's going on.

[2015-11-29 20:53] #2 closed

[2015-12-16 18:35] Tigr7 opened #3 "Modbus function 6 response reading error"
Спасибо большое за оперативный ответ!

Собрал новую версию. С настройками связи тут все нормально, так как чтение с регистров идет на УРА!
Но вот с записью та же проблема - после попытки изменить регистр 6 функцией вылетает ошибка, а демон зацикливается.

Запускал так: sudo mbusd -p /dev/ttyUSB0 -s 9600 -P 502 -d -v9

[mbus.txt](https://github.com/3cky/mbusd/files/64393/mbus.txt)

[2015-12-17 09:12] #3 closed

[2015-12-17 09:13] 3cky commented on #3
Поправил алгоритм чтения ответов функции 6 и подобных, попробуйте скачать и собрать мастер-версию https://github.com/3cky/mbusd/archive/master.zip

[2015-12-18 10:42] Tigr7 commented on #3
Спасибо огромное!! Работает отлично и стабильно!!! Поставил на 12 часов. Больше миллиона запросов и записей - ни одной ошибки! Очень круто!! Спасибо!!!!!
Можно мне давать ссылку на эту версию на форумах по соответствующей тематике?

[2015-12-18 12:06] 3cky commented on #3
Отлично, я поднял версию mbusd до 0.2.2, она доступна в releases, и ссылку лучше давать именно на нее: https://github.com/3cky/mbusd/releases/tag/v0.2.2

[2015-12-26 01:44] mbs38 opened #4 "-m option not documented in mbusd's man page"
Hi,
I was looking for a configuration option for serial parity bits and only found it in the source code. Maybe it should be added to the man page as well.

Best regards & thanks for the good work

[2015-12-28 09:15] 3cky commented on #4
Hmm, but `-m` option description should be already present in man page: https://github.com/3cky/mbusd/blob/master/doc/mbusd.8.in#L52-L53

Also it should be described in command help (`-h`). Could you check that mbus is compiled using latest sources?

[2015-12-28 21:20] mbs38 commented on #4
Yep. I accidently used an older version that was still sitting in my download directory. Sorry about that.
Anyway, thanks for the quick reply :)

[2015-12-29 10:20] 3cky commented on #4
OK, no problem! :)

[2015-12-29 10:20] #4 closed

[2016-02-07 18:51] rwalli opened #6 "General starting problem"
Sorry for posting here an issue but i did not found any discussion-forums.

I tried to get mbusd working on arm-linux (mbusd -s 19200 -d -p /dev/ttyAMA0 -v 9 -m 8N1) and get the following error:

[code]

To ensure my modbus device is working, I wrote a short test program with libmodbus (modus_read_registers) which work as expected.

Can you please point me to the right direction where to start?

R

[2016-02-14 18:41] hammondb4 commented on #6
Have you checked your device answering speed? Maybe you have to change your wait time if it's a slow device, with -W parameter....
Also I use QModMaster or CAS Modbus Scanner for trying my modbus setups....both of them, specially CAS, tell you the type of Modbus error....

[2016-02-14 18:44] hammondb4 opened #7 "Problems changing parity"
I have mbusd setups working well with default 8N1 option.
When I try to config with Odd (-m 8O1) or Even (-m 8E1) parity, it's not working properly.
It seems I always can communicate with my devices with 8N1 setup no matter what '-m' option I choose, but never been able to talk with 8E1 or 8O1 devices.
EDIT1: Compiled with default 8O1 on tty.h and showing it on mbusd -h but no changes, tty is work

[2016-02-15 10:16] 3cky commented on #7
Hmm, could you provide some details about  your environment? OS, hardware, etc.

[2016-02-15 12:22] hammondb4 commented on #7
I have differents setups...
A couple x86 machines and another Raspberry2, both running Openmediavault, wich is debian (Kernels 4.4, 3.16 & 4.04). Tryied with CH340 and PL-2303HX usb to 485 adapters.
In all setups comms are ok with 8N1 devices. When I try -m 8O1 or -m 8N2 to access other devices, is not working; instead (no mather -m option) always could stablish comm with 8N1 devices....

[2016-02-15 12:59] 3cky commented on #7
Are you sure RTU endpoints are configured properly for 8O1/8N2 comms? At least 8E1 should work, as reported by other users.

[2016-02-15 13:03] hammondb4 commented on #7
I tryied it with the adaptor in windows using qmodbusmaster and I can communicate with each device with it's config, so it seems the endpoints are correctly configured.
Will do more tests today.

[2016-02-15 18:31] hammondb4 commented on #7
I tested again with some adapters and mode always seems to be set in 8N1. I tested a device with integrated bridge (TCP2RTU) and it works as spected when configuring parity and stop bits. No luck with mbusd.

[2016-02-16 09:04] 3cky commented on #7
No, there is no specific position for -m option. BTW, mode string is checked for validity, so you could provide some invalid mode string (like -m 8N3) to check option is recognized at least.

[2016-02-17 00:09] rwalli commented on #6
Thank you very much!
It was the -W  parameter.

[2016-02-17 00:09] #6 closed

[2016-02-18 19:52] hammondb4 commented on #7
Yes, I tried with invalid strings and the checking is working ok.....
But after '-m 8N2' or '-m 8E1' seems only talking with 8N1 endpoints, not 8N2 nor 8E1....

[2016-02-22 14:37] 3cky commented on #7
@hammondb4 made some fixes, please test tty mode setup using mbusd master version and PL2303-based adapter (_not_ CH340 because it seems its driver still lacks support of parity/stop bits, see https://github.com/torvalds/linux/blob/master/drivers/usb/serial/ch341.c#L363).

[2016-02-28 11:42] hammondb4 commented on #7
@3cky Sorry for the delay. I'll be trying it this monday with PL2303 adapter. Will redownload master src and recompile it again and report it.

[2016-03-01 07:49] hammondb4 commented on #7
@3cky Ok. Tested it with PL2303 adapter and 8N2 mode and now it's working fine. Seems the problem it's solved using this adapter. Thanks @3cky
Also, could someone recommend one nice usb adapter? Tried CH340 and PL2303 and both seems similar, despite the mode issue. Any other options?

[2016-03-02 16:34] 3cky commented on #7
@hammondb4 great, thanks for testing! So I close this issue and will release 0.2.3 within the next couple days.
About adapters - personally I tend to avoid using CH340 in production, just because it also known as "the worst usb serial chip in the world". :) PL2303 performs much better, if it's not poor chinese fake.
Main tunable config value is response wait time, it seems its default value (50 ms

[2016-03-02 16:34] #7 closed

[2016-08-22 07:06] Fohdeesha opened #8 "Can't run Make, make script links to specific automake/aclocal version"
Trying to do a clean install of mbusd (cloned from git), once I get to the make step I run into the error below. This is on a clean install of the latest stable Debian (8) amd64, who's latest stable automake is 1.14.1. with aclocal 1.14.1

It is my understanding that make scripts shouldn't reference specific versions at all, for example:
http://stackoverflow.com/a/37669184

This is the output I ge

[2016-08-22 07:18] Fohdeesha commented on #8
I followed the steps here from anotherp roject with the same issue https://github.com/Jasig/mod_auth_cas/issues/97

I ran "autoreconf -f -i" and then I was able to fully ./configure, make, and make install, and now it is working as expected. It seems it's related to cloning from git as timestamps are not retained and it triggers a rebuild

[2016-11-23 13:31] cevatbostancioglu opened #10 "Can't Work with ION SETUP or /dev/ttyO2"
Hello , i am using ION Setup program for read devices. i am also trying to make rtu/tcp gateway with my custom emb linux board. when i try to read devices with ION Setup program , just nothing happens.

so dou you have any idea ?

![image](https://cloud.githubusercontent.com/assets/6525009/20563579/dd12b57a-b191-11e6-807d-7b9ab83dcd52.png)

[2016-11-25 14:21] 3cky commented on #10
It looks like ION Setup program prematurely closes connection before request has been completed. Could you try to issue same read request using a different Modbus/TCP client?

[2016-12-12 10:12] nickma82 commented on #8
Checked out the repo today (master branch), with the same problem on a RaspberryPI.
Automake version 1.11.6

`autoreconf -vfi` fixed it too.

[2016-12-12 10:18] nickma82 opened #11 "Feature Request: Linux init script"
An init script would be nice!

Has someone done that already? Best

[2017-02-01 21:17] abhishekricky opened #12 "Have doubt about the software"
Hi,

Suppose I have 12 slave devices connected on RTU , how will I select the slave device for whose data I want to read via TCP modbus ?

[2017-02-09 10:43] hammondb4 commented on #12
Easy. Each slave have a different ID or address. So when you make a read from tcp (using for example qmodmaster) you have to specify ip, port and then slave ID.

[2017-02-17 19:56] dvader opened #14 "Concurrency issues?"
I used to get crashes when logging "conn_open(): error in accept()", in particular, the call strerror(errno) crashes. After some reading it seems strerr is not re-entrant safe http://stackoverflow.com/questions/900338/why-cant-i-use-strerror. I am not sure if re-entrancy is the cause of the crash but after removing the function call and logging only errno, the software doesn't crash anymore.

Howe

[2017-02-17 22:32] dvader commented on #14
I also recently got the following error:
` 1485184870:634270 conn[192.168.2.51]: state CONN_TTY deadlock.`

[2017-02-18 12:17] 3cky commented on #14
Hmm, thanks for reporting. Since mbusd is single-threaded application, re-entrancy shouldn't be an issue. I will look into it, but could you provide some context? What OS and hardware are you using (especially tty), also some info about client app and typical requests pattern.

[2017-02-22 14:37] dvader commented on #14
Linux 2.4.21-rmk1 #1 Mon Mar 5 15:00:39 CET 2012 armv4l unknown
Cirrus Logic ARM EP7312-CBZ http://ca.mouser.com/ProductDetail/Cirrus-Logic/EP7312-CBZ/?qs=bUPhaerQQeGSZ7MA5Dwd%2FA%3D%3D
I am not using RxTx control, it's a full duplex UART.
I am using qModmaster https://sourceforge.net/projects/qmodmaster/ as a client and I am running two of them with 123 register request every second.
Here's a sam

[2017-02-22 17:12] dvader commented on #14
Linux 2.4.21-rmk1 #1 Mon Mar 5 15:00:39 CET 2012 armv4l unknown
Cirrus Logic ARM EP7312-CBZ http://ca.mouser.com/ProductDetail/Cirrus-Logic/EP7312-CBZ/?qs=bUPhaerQQeGSZ7MA5Dwd%2FA%3D%3D
I am not using RxTx control, it's a full duplex UART.
I am using qModmaster https://sourceforge.net/projects/qmodmaster/ as a client and I am running two of them with 123 register request every second.
Here's a sam

[2017-03-03 00:17] jonastim opened #15 "Inversed register order"
It seems that mbusd changes the register order for multi-register requests from what [modpoll](http://www.modbusdriver.com/modpoll.html) reads directly from RTU.

Modpoll reads 16bit (-t 4 flag) as
register 57734: 6
register 57735: 0

32bit (-t:int flag) as
register 57734: 6

inversed register 32bit (-t:int -i flags) "Slave operates on big-endian 32-bit integers"
register 57734: 393216

With mbusd

[2017-03-06 20:11] dvader opened #16 "Allow both TCP/IP and Unix Domain socket connections"
I would like other programs on the same machine that runs mbusd to be able to access the Modbus backend. I could use the Ethernet loopback but it seems heavy. A better way would be to allow an inter process communication to happen. Unix Domain socket seem like the most logical IPC as it is very similar to the TCP sockets without the networking overhead. It also uses a lot of the same functions so

[2017-04-26 03:35] shaotangyu opened #17 "does mbusd support RS422"
Hi,

The introduction of mbusd mentioned it is RS232/RS485 Modbus Gateway.
Because RS485 and RS422 are a little different in half-duplex and full-duplex, does mbusd also have RS422 Modbus Gateway function ?

Regards,
shaotang

[2017-04-27 13:18] 3cky commented on #17
Hi shaotang,

As  full-duplex RS422 interface could be treated as long-range RS-232, so (theoretically) mbusd should work fine with RS422.

[2017-04-28 01:58] shaotangyu opened #18 "RTU/ASCII protocol selection and Modbus Master Mode questions"
Hi,

We have checked Advantech EKI-122x Modbus gateway device and have two questions want to raise.
1. The mbusd does not have RTU/ASCII protocol selection in parameter list. Why users do not need to specify the RTU/ASCII mode for mbusd ?

2. There are two kinds of Modbus gateway as below. It seems mbusd support slave mode, will it support master mode in the future?

(1) master mode: translate RTU

[2017-05-03 14:46] 3cky commented on #18
Sorry for late response. As mbusd is supposed to be a network gateway to Modbus RTU devices, neither ASCII protocol nor TCP master mode are currently supported. This could be changed in the future, but timeline for implementing such functionality currently is not defined.

[2017-09-20 01:29] shaotangyu opened #19 "questions about the parameters"
Hi Expert,

Could we ask some questions about the parameters provided ?
The testbed should be as below.
PC(Modbus Client)---------DUT(Modbus Server-Modbus Gateway-Modbus Master)-------Modbus Slaver

   -N retries
          Specifies maximum number of request retries (0 disables retries).
==> does this parameters for the interface between DUT and Modbus Slaver, and if request sent to Modbus slaver

[2017-11-03 20:54] nickma82 commented on #8
Shouldn't all the build aggregates (i.e. _Makefile.in aclocal.m4 configure doc/Makefile.in libtool src/Makefile.in_) not being checked in?

S.t. in order to compile everyone would have to issue a standard `./configure` followed by a 'make'

[2017-11-03 20:57] nickma82 commented on #14
@dvader any updates on that?

[2017-11-03 21:03] nickma82 commented on #18
For ASCII implementation please wait for response at https://github.com/digitizer0/mbusd/commit/ee0b3601bb4402f82058f215d695993794aa7bb9#commitcomment-25389020

[2017-11-04 12:02] nickma82 commented on #17
@shaotangyu any practical results?
If yes, please share them and close the ticket...

[2017-11-06 01:01] shaotangyu commented on #17
Yes, it can be treated as RS-232, and it works according to my test.

[2017-11-06 01:01] #17 closed

[2017-11-14 08:01] #12 closed

[2017-11-14 08:02] abhishekricky opened #21 "Regarding Converting 4 Modbus RTU to Ethernet"
Hi,

Is it possible to have 4 usb ports converted to Ethernet on different ports via this software ?

[2017-11-14 10:46] 3cky opened #22 "Change build infrastructure to CMake"
Autoconf/automake build scripts used by mbusd are really old and complex to maintain, so we should switch to CMake build system https://cmake.org/

[2017-11-14 10:49] 3cky commented on #8
Really I already thinking about transition to cmake for a long time. Will try to find some time to make it done. Also created #22 to track work progress.

[2017-11-20 09:11] nickma82 commented on #22
What are the requirements here (for the initial transition)?

Here's what I see right now
- Automatically detect the availability of
-- libutil/libc6  -> HAVE_LIBUTIL
-- logw  -> LOG
-- cfmakeraw -> HAVE_CFMAKERAW
-- cfsetspeed -> HAVE_CFSETSPEED
-- (time AND localtime) -> HRDATE
- Provide user options for
-- TRXCTL
-- DEBUG output

Functional requirements:
- classical make/make install capabiliti

[2017-11-22 08:54] nickma82 commented on #22
I just made up an early functional version [1] with minimal changes to the codebase. The only real changes were in the main.c from _open/_close to open/close [2].
Does this break the OpenBSD build, could you check that?

Best

[1] https://gitlab.com/nickma/mbusd/commit/d26f68ee058edabec4209c9f191f4928d11b6e0b
[2] https://gitlab.com/nickma/mbusd/commit/d26f68ee058edabec4209c9f191f4928d11b6e0b#3a576

[2017-11-23 10:41] 3cky commented on #21
Yes, it's possible, but you should run mbusd instances using custom script because current systemd service doesn't support multiple TCP port configurations.

[2017-11-23 10:47] 3cky commented on #22
Wow, nice to see some progress! Don't have access to any *BSD box right now, but I'll try to find some to check that.

[2017-11-29 12:14] nickma82 commented on #22
Ok, currently working on cmake and an unittest infrastructure in parallel.

What's working until now:
- I just made up the first (non mbusd dependent) tests runnable on gitlab-ci [1]
- the environment infrastructure, including
-- a modbus-serial server/instance mockup
-- a virtual tty setup
- Artifacts downloadable from gitlab-ci [1] for the architectures ARMhf (e.g. raspberry) and x86

What's up

[2017-11-29 12:53] 3cky commented on #21
I've added support for multiple mbusd instances in 3ea2084.

[2017-11-29 13:07] 3cky commented on #22
Sounds great! I will look into it.

Btw, please note I've pushed into master support for read configuration from file. Also multiple systemd instances of mbusd are supported now.

[2017-11-29 13:09] nickma82 commented on #22
Awesome, I'm gonna merge asap

[2017-11-29 13:26] 3cky commented on #19
Hi shaotangyu, yes, you got that right, except `wait` parameter that is actually applied to DUT-Slave request.

[2017-11-29 16:15] nickma82 commented on #22
Please review https://github.com/nickma82/mbusd/tree/unittests

[2017-11-30 14:05] 3cky commented on #22
@nickma82 great work, thanks! I've merged your changes into https://github.com/3cky/mbusd/tree/cmake branch, also made some fixes in bed0a84 (handle different PREFIXes, install example configuration file, added uninstall target).

It seem to be good enough to be merged into the master. Do you have any thoughts on this?

[2017-12-01 08:45] nickma82 commented on #22
Great, following some thoughts:
* I haven't tested the install/uninstall targets very well.
* README.md
** Still contains an automake corresponding section
** An explaining how to enable/disable the cmake options (e.g. ccmake, cmake-gui) would be nice to have

[2017-12-01 13:12] nickma82 commented on #21
@abhishekricky please close the ticket

[2017-12-01 14:11] 3cky commented on #22
Hmm, and there is no `systemd` executable in PATH on Fedora, so probably we should use both methods to detect systemd presence.

[2017-12-03 19:44] nickma82 commented on #22
How about [that](https://github.com/nickma82/mbusd/commit/0936eeb36462c383bee166280e1f2886e0d64555)?

[2017-12-04 09:18] 3cky commented on #22
That's much better. :) But still have some doubts about service file install path. Arch Linux systemd user guide [says](https://wiki.archlinux.org/index.php/systemd#Writing_unit_files):

* `/usr/lib/systemd/system/`: units provided by installed packages
* `/etc/systemd/system/`: units installed by the system administrator

Fedora Linux seem to follow the same service file location rules. Is `/lib/

[2017-12-04 13:32] nickma82 commented on #22
I'm having a hard time to find a good source for the systemd/sytem directory.

`/lib/systemd/system/`exists and contains a lot of *.service files

Ad `/usr/lib/systemd/system/` :
-- contains the folders: `boot  catalog  network  scripts  user  user-generators`
--  only the `user` folder contains *.service files (and *.target, *.socket, *.wants files)

Ad `/etc/systemd/system/`: Sounds good to me.

[2017-12-04 15:40] 3cky commented on #22
I think probably we shouldn't reinvent the wheel and just borrow [FindSystemd.cmake](https://github.com/qbittorrent/qBittorrent/blob/master/cmake/Modules/FindSystemd.cmake) from qBittorrent guys. :)

[2017-12-04 21:42] nickma82 commented on #22
Integrated FindSystemd.cmake and changed the other install targets a bit, [please review again](https://github.com/nickma82/mbusd/tree/cmake-packaging)

[2017-12-05 03:22] kurt-klingbeil opened #24 "systemctl gives "failed to lookup unit file state""
I managed to navigate all (most) of the installation song and dance on raspberry Pi (stretch)
but there are some loose ends...

When I try to run
sudo systemctl enable mbusd@/dev/ttyAMA0.service
I get
Failed to lookup unit file state: Invalid argument

Apparently this is common with systemd / systemctl:
"you did it wrong and I'm not going to tell you anything about how"

I thought, well, if the de

[2017-12-05 10:08] 3cky commented on #24
sudo systemctl enable mbusd@/dev/ttyAMA0.service
I get
Failed to lookup unit file state: Invalid argument

It's because it should be short device name, like `sudo systemctl enable mbusd@ttyAMA0.service`

i.e. it is only a TCP-Slave which then acts as a RTU-master to get data from RTU-slave devices
which is the reverse of what I need

Yep, mbusd is essentially a gateway presenting the network of RT

[2017-12-05 15:51] 3cky commented on #22
Done, please see d8b3b24.

Do you mean the dependencies required by CMake/CPack or by mbusd itself? BTW I still didn't check packaging part, will do.

[2017-12-05 21:22] nickma82 commented on #22
For both of them - Fedora flavored.

You don't have to. Wait for the gitlab-ci infrastructure, it ouputs the package by itself.

[2017-12-06 10:42] 3cky commented on #22
Just checked it with fresh Fedora 27 install, the minimum requirements are `cmake`, `pkgconfig` and `gcc-c++` packages.

[2017-12-11 12:59] 3cky commented on #22
Checked FreeBSD 11 build, merged cmake branch into master and released [v0.3.0](https://github.com/3cky/mbusd/releases/tag/v0.3.0)!

Thank you for your contribution @nickma82!

[2017-12-11 12:59] #22 closed

[2017-12-11 19:51] nickma82 commented on #11
Thanks

[2017-12-11 19:51] #11 closed

[2017-12-11 21:46] nickma82 commented on #22
Now with the packaging capabilities you could release (downloadable) packages.. (deb, rpm)?

[2018-01-05 00:00] kb0thn opened #26 "cmake is heavyweight"
Running the latest version of cmake is a heavy requirement to build in place on embedded and older systems. Building it really just comes down to:

[code]

[2018-01-20 11:23] nickma82 commented on #21
Consider two ModbusRTU (Serial) devices with the same address on two different serial Ports and a request sent from TCP to be sent via RTU.
How would one decide which RTU-serial port to prefer? If one sends it out on both serial buses, which response to choose?

IMHO nothing like that is integrated atm.
Best

[2018-01-20 12:45] joeychen commented on #21
In general, a routing table can be achieved for gateways with two or more serial ports.

Scenario 1:
If the Modbus devices with different slave IDs are connected to different serial ports on a gateway,
slave ID can be used to route to different serial port.
For example, the Modbus requests with slave ID 001~005 will be routed to serial port1; the Modbus requests with slave ID 006~010 will be route

[2018-01-22 11:01] 3cky commented on #21
Since I trying to keep mbusd functionality as simple as it could be, adding multiple serial ports support with full-fledged Modbus routing table isn't something that looks good to me. Probably the best (Unix-)way to achieve this functionality is a dedicated app implementing Modbus TCP routing atop of multiple mbusd instances.

[2018-01-22 13:58] kb0thn commented on #26
A barebones makefile would be great. On 4 of the last 5 targets I built it for, getting cmake and infrastructure going wasn't possible. Likely m4 and autotools wouldn't have been either. But the bare metal gcc above buildt it fine.

[2018-01-23 00:59] joeychen commented on #21
Has such app been already implemented by anyone in github ?
If not, I was wondering if you have more detailed information for implementation?
For example, since mbusd is binding to a socket,
how to use another app to route packets atop of mbusd?
Is there a way to achieve this function without modify mbusd?

[2018-01-23 18:58] nickma82 commented on #21
Side question: Why not using two TCP front-ends (i.e. two ports) and route on client side?

[2018-01-23 19:03] nickma82 commented on #21
I'd give one of the [various python modbus libs](https://stackoverflow.com/questions/17081442/python-modbus-library) a go.
If you have static routing tables (i.e. your modbus devices do not change) it shoudn't be that complicated. Two to four man days?

[2018-02-18 21:03] sgel83 opened #27 "Service Fails to start raspberry pi"
If I run the command manually it starts with the specified configuration file no problem.  If I try to run it as a service it fails.

`root@raspberrypi:~# systemctl status mbusd@ttyUSB0
● mbusd@ttyUSB0.service - Modbus TCP to Modbus RTU (RS-232/485) gateway.
   Loaded: loaded (/lib/systemd/system/mbusd@.service; enabled)
   Active: failed (Result: start-limit) since Sun 2018-02-18 21:01:15 UTC; 36

[2018-02-19 19:22] 3cky commented on #27
Hmm, that's weird. It's the Raspbian Linux, right? Which version/release?

[2018-02-20 10:30] sgel83 commented on #27
root@raspberrypi:~# uname -a
Linux raspberrypi 4.9.35+ #1014 Fri Jun 30 14:34:49 BST 2017 armv6l GNU/Linux

[2018-02-20 10:46] 3cky commented on #27
Ok, please also show the output of the `cat /etc/os-release` command

[2018-02-20 11:18] sgel83 commented on #27
as requested:

root@raspberrypi:~# cat /etc/os-release
PRETTY_NAME="Raspbian GNU/Linux 8 (jessie)"
NAME="Raspbian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/"
SUPPORT_URL="http://www.raspbian.org/RaspbianForums"
BUG_REPORT_URL="http://www.raspbian.org/RaspbianBugs"

[2018-02-20 21:01] 3cky commented on #27
Thanks for the report! I've commited fix for this bug, please rebuild the mbusd from latest sources using updated [installation instructions](https://github.com/3cky/mbusd#installation-instructions) and please let me know if that fixed the issue.

[2018-02-20 21:45] sgel83 commented on #27
Worked perfect, thanks.

root@raspberrypi:~/mbusd/mbusd.git/build# systemctl status mbusd@ttyUSB0
● mbusd@ttyUSB0.service - Modbus TCP to Modbus RTU (RS-232/485) gateway.
   Loaded: loaded (/lib/systemd/system/mbusd@.service; enabled)
   Active: active (running) since Tue 2018-02-20 21:45:10 UTC; 7s ago
 Main PID: 10561 (mbusd)
   CGroup: /system.slice/system-mbusd.slice/mbusd@ttyUSB0.service

[2018-02-21 12:58] 3cky commented on #27
Great! I will close this issue.

[2018-02-21 12:58] #27 closed

[2018-03-16 01:28] mgalemin opened #28 "Connecting Modbus RTU master to Modbus TCP slave"
Hi,

Could you please let me know if I can use your gateway for connecting a Modbus RTU master (RS-485 interface) to a Modbus TCP slave (Ethernet interface, acts as a TCP server)? For example, can mbusd work as a TCP client and connect to a remote TCP server?

Thanks,
Maks.

[2018-03-28 13:18] zmata opened #30 "Logfile in case of systemd service"
Hi, what is logfile in case of MBUSD systemd service?
Is it posible to specify it in conf file?
Thanks

[2018-04-03 21:11] sgel83 opened #31 "FC-16 Write Multiple Holding Registers fails"
As per the ReadMe.md neither writing a single register or multiple registers are supported.

There is a statement:

"Please note all other function codes (including vendor-specific extensions) are supported on a "best-effort" basis and most likely will fail."

I would like to extend this to support writing multiple register requests, where do you feel the shortcomings are specifically?

Interestin

[2018-04-03 21:45] sgel83 commented on #31
[modbus.zip](https://github.com/3cky/mbusd/files/1873497/modbus.zip)

Adding zip illustrating the failure

[2018-04-04 20:39] sgel83 commented on #30
By default:

/var/log/mbus.log

This is staticly defined in the log.h file.
https://github.com/3cky/mbusd/blob/8f2ccf1ec092cdc029d2fa0109b6a3363f086f5f/src/log.h#L42-L43

Currently its not possible to set it in the configuration file.

[2018-04-04 20:56] sgel83 commented on #30
What you can do though is change the ExecStart= line in the systemd

https://github.com/3cky/mbusd/blob/8f2ccf1ec092cdc029d2fa0109b6a3363f086f5f/systemd-units/mbusd%40.service.in#L6

ExecStart=@CMAKE_INSTALL_FULL_BINDIR@/mbusd -d -v2 **-L -** -c @CMAKE_INSTALL_FULL_SYSCONFDIR@/mbusd/mbusd-%i.conf -p /dev/%i

change the **-L -** to the directory and file that you would like the log file to be:

E.g

[2018-04-04 21:03] zmata commented on #30
Hi, I've already changed -L - to -L /var/log/mbusd/%i before creating my deb package.
Thanks

[2018-04-04 21:05] #30 closed

[2018-04-09 10:10] zmata commented on #31
I have same problem. I use Eastron SDM120-Modbus. It uses 32bit float.
Reading (03 - Read holding registers) is OK.
But writing of the same registers (16 - Preset multiple registers) fails.
[mbusd_err16.txt](https://github.com/3cky/mbusd/files/1889393/mbusd_err16.txt)

[2018-04-09 15:24] 3cky commented on #31
@sgel83 hmm, actually mbusd supports multiple registers reading/writing (function codes 03 and 16) and it should work, but for specific devices your mileage may vary. I've checked your logs and see many lines with "tty: dropped <nnn> bytes" message. That's quite unusual, are you sure mbusd is single master on the Modbus RTU network?

@zmata it looks like your device doesn't respond to the request.

[2018-04-09 19:03] sgel83 commented on #31
Hi Victor,

Thanks for taking a look at this.  Here is a new log without the secondary master on the RS-485 network.  The behavior of the app is still the same where it fails to write.  I actually think it is similiar to zmata, as you will see in the wireshark trace it shows the gw is not responding.

This shouldnt be the case though because if I stop mbusd and use pymodbus I can change the value

[2018-04-10 14:35] 3cky commented on #31
Hello @sgel83, thanks for the log files, I've checked .pcapng file and it looks like fc16 request is malformed:

![2018-04-10 17-09-48](https://user-images.githubusercontent.com/894050/38562356-0e9dd9ca-3ce3-11e8-81c6-d4d0fff701ad.png)

It seem the root cause of a problem is invalid Modbus/TCP length field, while actual encapsulated Modbus frame size is 9 bytes, the length field indicates it's onl

[2018-04-10 20:49] sgel83 commented on #31
Its an android app for a centralized ventilation system:

https://play.google.com/store/apps/details?id=com.Amalva.c4_app

According to the reviews it works but maybe thats how they keep the customer from using other gateways, they just look at the data size in the packet instead of modbus/tcp length header.

Good catch.

[2018-04-10 21:10] frodus17 commented on #31
I use Simply Modbus TCP Master. It's free, and super useful. They also have Simply Modbus RTU, to test RTU devices.

[2018-04-10 21:28] zmata commented on #31
My log is from test with Simply Modbus TCP Master.
If I use Simply Modbus RTU for direct writing registers - succes.
If I use Loxone Smart Home miniserver to send through MBUSD, it fails (same as Simply Modbus TCP Master)

[2018-04-10 21:52] sgel83 commented on #31
@zmata, I think we have different issues though.  My issues is the client app is misbehaving by not calculating the mbdata length correctly for the mbtcp length header.  If I use pymodbus as a TCP client to write the same register message (but with the correct size in the length header) it is working..

@3cky Are you open to the idea of adding graceful handling of this type of situation where it r

[2018-04-11 08:34] 3cky commented on #31
@sgel83 still thinking about the best way to handle this type of situation gracefully. There are some options, will look into them.

[2018-04-11 08:37] sgel83 commented on #31
@3cky Great, in the meantime I also emailed the manufacturer, and requested them to fix it.  No feedback yet.

[2018-04-11 23:46] zmata commented on #31
Regarding my problem, that is definitelly another then one by @sgel83
Everything is ok using Simply Modbus TCP Master. I can write 16 - Preset multiple registers. It was problem in my configuration of the Simply Modbus TCP master before - I'm sorry.
But it fails using Loxone Smart home Miniserver.
I tried to sent same command from Loxone and Simply Modbus TCP Master through MBUSD, receiving it by

[2018-04-13 04:06] sgel83 commented on #31
@zmata It seems that its possible to change the behavior of Simply Modbus TCP Slave, have you tried this?

http://www.simplymodbus.ca/RTUSlaveManual8.htm
Section "The Simply Modbus Slave Window"

You have 2 check boxes:

"High byte first"
"High word first"

http://www.simplymodbus.ca/FAQ.htm
It outlines 4 possible configurations:

[2018-04-13 08:09] zmata commented on #31
Hi, there is no problem with receiving in slave app, but in slave Energy Metter, and it's not possible to switch this setting in it.

[2018-04-24 21:38] sgel83 commented on #31
@3cky

I made a fix, and tested it.  It seems to be working but I am not a modbus expert so I think you should review it critcially.

I made the following assumptions.

1.  modbus length header only applies to TCP connections.
2.  If the header length matches the actual length of what was received it leaves it alone. If not it changes the value to the calculated length before any further processin

[2018-04-26 10:58] 3cky commented on #31
@sgel83 I've pushed some fixes into master, please update and test.

[2018-04-26 11:32] zmata opened #33 "high byte/word first to low byte/word first conversion"
Would it be possible to implement conversion options for:
High Byte First <--> Low Byte First
and
High Word First <--> Low Word First
Thanks

[2018-04-26 11:37] zmata commented on #31
My problem is another one, so I open new [issue 33](https://github.com/3cky/mbusd/issues/33)

[2018-04-26 14:26] sgel83 commented on #31
Closing issue, the code change corrected this.  Thanks again

[2018-04-26 14:26] #31 closed

[2018-04-27 10:37] 3cky commented on #33
I think it will be little tricky because mbusd as gateway can be used to access multiple slaves in RTU network, so mentioned conversion options should be configured on a per-slave basis, but currently mbusd has no per-slave configuration options. Also I think the best place to do such kind of conversion is a TCP master accessing mbusd.

[2018-04-27 11:25] zmata commented on #33
I agree, but Loxone Smart Home miniserver only support it for reading registers, but not for writing.
I asked them to improve it, but they don't want to support it ;-(
We don't need it per slave. it's enough to have it per serial port (config file).

[2018-05-16 20:27] nickma82 commented on #26
Do you have a pull request?

Alternatively add a  gitlab-ci target and let it compile there, [like that](https://github.com/3cky/mbusd/blob/master/.gitlab-ci.yml#L44)

[2018-05-16 20:28] nickma82 commented on #8
close it plz

[2018-05-16 20:48] #8 closed

[2018-06-18 08:49] nickma82 commented on #28
Hi @mgalemin
mbusd accesses a modbus RTU instance (i.e. reading its values) and provides a Modbus TCP server (serving the read out values).

I think that is exactly the other way around - right?

[2018-06-18 08:50] nickma82 commented on #14
@3cky plz close that ticket

[2018-06-19 15:18] #14 closed

[2018-07-09 16:54] deneskelenyi commented on #28
NO, this won't work. You would need something that creates a map to begin with.
RTU master wants so send something to NODE 1. So it emits an RS-485 packet, addressing NODE 1.

Your gateways should know to listen to NODE 1, then it should know what TCP address NODE 1 is on.

You would need something like a translation map:

Node1, 192.168.11.1:502
Node2, 192.168.11.2:502

No such mapping exists in

[2018-07-20 14:42] kinkazu opened #36 "Connection close on tty: response timeout"
Hi there.
Let me congratulate you an excelent piece of software that i use on a daily basis.
And now to a problem that I have.

I have a small debian based PC running mbusd and connected to Modbus/CANBUS gateway over RS232.
Modbus/CANBUS gateway is connected over CANBUS to 20 devices.
Modbus queries to debian PC running your software I can read from all 20 devices over Modbus/TCP.

Problem starts

[2018-07-23 08:51] 3cky commented on #36
Hello @kinkazu!

Thank you for the kind words. First of all, mbusd can be instructed to completely disable tty query retrying by specifying `-N 0` command line option. Device query timeout can be specified by `-W` option (defaults to 500 ms), but you mentioned that setting doesn't seem to have any affect, isn't?

[2018-07-23 09:13] kinkazu commented on #36
Hi Victor.

Yes, I played with N and W settings with no success. N and W setting seem to work fine when device is not available in TCP/IP network and modbus_client is throwing out:
Connecting to 10.3.8.20:502
Connection failed: Operation now in progress
But not when device/gateway is in TCP/IP network, but one of the nodes is absent and modbus_client is throwing out:
Connecting to 10.3.8.6:502
[00

[2018-07-23 10:22] 3cky commented on #36
Just for clarification, those timeouts occurs while querying offline CANBUS devices only, or some of online CANBUS devices are also inaccessible after network membership changes?

[2018-07-23 10:29] kinkazu commented on #36
Scenario:
14 devices powered ON and connected to Modbus/Canbus gateway
Communication using mbusd/RS232/modbus/Canbus gateway works fine
1 of 14 becomes offline/is switched off
Communication to 9 devices remains the same
Communication to 2 devices slows down dramatically (always the same ones)
Communication to 2 devices is completely broken (always the same ones)

[2018-07-23 14:38] 3cky commented on #36
That's really weird. Don't have much expirience with CAN bus, but it looks like some hardware-related issue, probably some CAN gateway or network misconfiguration. Anyway, mbusd should handle such situations gracefully using timeout and retries limit, so probably I should check mbusd timeout handling code.

[2018-07-23 23:56] kinkazu commented on #36
I am not sure if it has anything to do with canbus. I wonder how mbusd behaves if connected to more than one device over RS485 link and one of the devices is powered off.
I am hoping you will find some solution. I love mbusd :).

[2018-07-28 01:11] kinkazu commented on #36
I am not sure if it has anything to do with canbus. I wonder how mbusd behaves if connected to more than one device over RS485 link and one of the devices is powered off. Is it possible that if device is missing mbusd is not responding properly to modbus_close or modbus_free
I am hoping you will find some solution. I love mbusd :).

[2018-09-19 01:53] WillyWu0201 opened #37 "file INSTALL cannot copy file"
I'm running Installation instructions to the last step
"sudo make install"
I got some error below

➜  build git:(master) sudo make install
Password:
[100%] Built target mbusd
Install the project...
-- Install configuration: ""
-- Installing: /usr/bin/mbusd
CMake Error at cmake_install.cmake:36 (file):
  file INSTALL cannot copy file
  "/Users/willy/Documents/Vulnerabilities_Scan/mbusd.git/build/mb

[2018-09-19 02:51] WillyWu0201 commented on #37
Sorry, I find a solution to fix it!
Change the csrutil status to disable

[2018-09-19 02:51] #37 closed

[2018-09-27 13:30] abhishekricky opened #38 "mbusd getting hanged behind Ubuntu loaded on VirtualBox ( VM )"
Hi,

I installed successfully now, it works intialy good for 5-10 seconds and then program mbusd needs to be restarted again

Not sure what the issue , though there is only one master polling. I see following messages continuously

7 Sep 2018 18:59:00 conn_open(): accepting connection from 10.0.2.2
27 Sep 2018 18:59:05 conn_open(): accepting connection from 10.0.2.2
27 Sep 2018 18:59:10 conn_open(

[2018-09-27 13:33] abhishekricky commented on #38
And ports are being shared using NAT option of Virtual Box

[2018-10-11 17:34] shawnggraham opened #39 "I need to connect to a legacy device from a rockwell plc via a vpn over cell connection."
Everything is worked out with the acception of the last bit between the vpn micropc that is connected via a usb-2-rs232 converter to the modbus device.

I can modbus scan the device with modpoll if i plug directly into it but when i try and connect via tcp to the rpie running mbusd with it connected to the modbus device i get
"Gateway Target Device Failed exception response!"
I cannot run modpoll

[2018-10-11 21:20] shawnggraham commented on #39
I seem to be making some headway, I moved everything off the rpie and am working from my toughbook.  I can poll the slave now and get some data the big problem was i only have 10 counters to work with and the default on the modprobe was set to 100. This device is very slow to respond (waterlog h-350XL) and is hit and miss when i poll with rtu over rs232 but for the most part i get a response every

[2018-10-12 02:30] shawnggraham commented on #39
Ok im able to get this working but only if i launch it in the foreground.
mbusd -L/tmp/mbusd.log -p /dev/ttyUSB0 -s 9600 -P 502 -d  -v9
I've tried configuring the /etc/mbusd/mbusd-ttyUSB0.conf with the exact same configuration minus the logging and foreground fork.
######### Serial port settings #############
# Serial port device name
device = /dev/ttyUSB0
# Serial port speed
speed = 9600
########

[2018-10-12 11:51] 3cky commented on #39
Hi @shawnggraham,

Could you post the entire log file? This message looks quite weird to me.

[2018-10-12 12:35] 3cky commented on #38
Hello @abhishekricky

Could you post additional info about your setup - versions of the host/guest OS and VirtualBox you're using? Thanks.

[2018-10-12 16:03] shawnggraham commented on #39
Late last night i got fed up, it was all weird.  I grabbed a rpie-v3 did a fresh raspbian install on it and walked through the compile process for mbusd again on it.  I cant find a single step i did any different but this one seems to work fine.  The only problem i have found is that i cannot run a modbus probe on the rtu at the same time my other machines are probing via tcpip. But the only reaso

[2018-10-24 07:39] Bornukov opened #40 "cmake error"
Try compile on raspbian jessie
Have error:

-- The C compiler identification is unknown
-- The CXX compiler identification is GNU 4.9.2
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- broken
CMake Error at /usr/share/cmake-3.6/Modules/CMakeTestCCompiler.cmake:61 (message):
  The C compiler "/usr/bin/cc" is not able to compile a simple test program.

[2018-10-24 08:50] 3cky commented on #40
Hi @Bornukov

Please check first you have all build tools needed for compile. You could use  `sudo apt-get install build-essential` command to make sure that all the necessary build components are installed.

[2018-10-24 12:38] #40 closed

[2019-01-01 18:43] fredriklj opened #41 "mbusd stops responding and goes into spin shortly after being started"
Just started playing with mbusd to have a tcp interface to my modbus devices the RS485 bus (there is currently three devices on the bus). Maybe I'm doing something fundamental wrong, but I can't make much out of the debugging output.

Shortly, at least within a few minutes after being started, mbusd stops responding. When I run in the the foreground with debugging enabled I get the output below. H

[2019-01-02 15:12] 3cky commented on #41
Hmm, interesting. Is mbusd the only master on the RS485 bus? Looks like mbusd is receiving some unexpected data from the bus while it's in idle state. Nevertheless, it shouldn't go into infinite loop in this case. I'll take a look into the code.

[2019-01-03 13:13] fredriklj commented on #41
Yes, it is the only master. There are three slaves: two energy meters and one HVAC system. I'll try to watch the interface to see if there is something unexpected being received on it..

[2019-01-03 16:52] 3cky commented on #41
I did some fixes in serial port initialization code, please rebuild mbusd with the updated code and check is something changed or not.

[2019-01-03 20:52] fredriklj commented on #41
I investigated a bit further, it seems my device (FT232R USB UART) is being reset now and then, for yet unknown reasons. Anyway, output from updated code below:

$ sudo ./mbusd -d -v 9 -p /dev/ttyPort0 -s 9600 -t
03 Jan 2019 21:15:42 mbusd-0.3.1 started...
03 Jan 2019 21:15:42 tty: state now is TTY_PAUSE
03 Jan 2019 21:15:42 conn_loop(): select(): max_sd = 4, t_out = 000000:100000
03 Jan 2019 21:1

[2019-01-04 09:03] 3cky commented on #41
Indeed looks like hardware problem. I've added serial port reinitialization to avoid a "tty: read 0 bytes" message endless loop, but anyway this situation isn't seem normal to me. Could you please to try run your setup with the updated code?

[2019-01-04 15:33] 3cky commented on #41
@fredriklj I've implemented more robust serial port reconnect algorithm in b5e3c53, please test.

[2019-01-04 18:44] fredriklj commented on #41
Nice. It has been running smoothly now for about half an hour:

04 Jan 2019 19:07:06 conn_loop(): select() returns 1
04 Jan 2019 19:07:06 tty: error in read() (port closed)
04 Jan 2019 19:07:06 trying to re-open tty...
04 Jan 2019 19:07:06 tty re-opening...
04 Jan 2019 19:07:06 tty_reopen(): can't open tty device /dev/ttyPort0 (No such device)
04 Jan 2019 19:07:06 tty re-opening...
04 Jan 2019 19:

[2019-01-06 14:14] fredriklj commented on #41
I can observe EOF by just "sudo od -x < /dev/ttyPort0", so that part does not seem mbusd related. I will investigate further to see if it is the USB-RS485 misbehaving, or something at the bus.

[2019-01-06 21:00] fredriklj commented on #41
Currently I suspect the error to have been a bad USB cable which picked up electro-magnetic interference from the environment. After having replaced it the re-connection errors seem to have gone away!

[2019-01-07 18:14] 3cky commented on #41
That's great! Glad you sorted this out. Thank you for the participation, I'll close this issue, feel free to reopen it or create new one in case of further problems.

[2019-01-07 18:14] #41 closed

[2019-02-04 17:03] shawnggraham opened #44 "debug option to see modbus info from serial device"
Is there any way to log what mbusd is retrieving via /dev/ttyUSB0 before it is encapsulating into tcpip.  Also because im kind of new to this, how would my scada system need to communicate with a device that only understood rtu?  Would i need to create a device that read rtu over tcp or does mbusd treat it as actual modbus tcp?  The configuration i have is ... ignition scada system ->vpn-concentra

[2019-02-05 14:18] 3cky commented on #44
Did you try to increase log level verbosity? mbusd should dump received data to log file when its log level is set to 5 or higher value, so you could try to run it with `-v5` option.

[2019-02-09 19:57] nzfarmer1 opened #45 "RTU over TCP?"
Hi,

Can I use your tool to map Modbus TCP to Modbus RTU over an IP network?

I'm using an Ethernet to Serial adaptor so can use socat to create a virtual serial port over IP, but the packet format is still RTU and socat is a little unstable through resets.

I was looking for something that proxy Modbus TCP to RTU but use an IP network (TCP or UDP)

[2019-02-11 10:40] 3cky commented on #45
Well, since mbusd acts as a gateway translating Modbus TCP master requests to Modbus RTU RS-232/485 slaves network and back, I guess - yes, you can. :)

[2019-02-11 10:58] nzfarmer1 commented on #45
But we'd have to adapt the code (which may be a reasonable project).

It appears that using the UDP option in our RTU to Ethernet adaptor gives us stability - fingers crossed.

socat -d -d -d pty,link=${VPORT},b${BAUD},echo=0,raw,unlink-close=0 udp:${USRIOTADDR}:${USRIOTPORT},reuseaddr

[2019-05-09 10:07] connectedthings opened #47 "Flow Control with RTS pulled HIGH"
Have been running with a USB -> RS485 adapter on a Rpi for a while now without issues. This adapter supports ADDC or at least it works with that config.

Am now busy trying a RS485 Module ( TTL -> RS485 based on MAX481 chipset) directly connected to Rpi serial0 on GPIO 8 & 10, so no flow control. RTS is pulled high on the module itself and I can't get it to communicate.

Would I have to use file b

[2019-05-10 06:05] mohsh86 opened #48 "TCP over TCP [feature][enhancement]"
I know this sounds ridiculous, but there are instances where the slave is Modbus-TCP but only allows one connection, when new master tries to poll, there might be an option to either drop existing connection or refuse the new one.

It would be beneficial to have the slave side of mbusd as modbus TCP to over come this issue and allow multiple masters to poll the slave.

[2019-05-10 12:43] 3cky commented on #47
Since RS-485 protocol is half-duplex, any module implementing it should have RX/TX mode switching circuit, either ADDC or connected to some RPi GPIO pin. And yes, in the second case you can use mbusd file-based direction control. But make sure you have a logic level shifter between RPi and MAX481, since RPi uses 3.3V logic which is incompatible with 5V TTL.

[2019-05-13 16:11] zouxiaodong opened #49 "can this tool acts as a tcp client?"
i want to use mbusd to transfer modbus tcp to modbus rtu, could you add a feature that mbusd as a tcp client connect to iot server on internet? in many cases most of iot devices in LAN ，sever on internet

[2019-05-26 10:59] nickma82 commented on #45
@nzfarmer1  Please close the ticket

[2019-05-26 10:59] nickma82 commented on #44
please close this ticket too

[2019-05-26 11:04] nickma82 commented on #21
@abhishekricky Concerning your original question: This is now possible since mbusd supports [setup via systemd](https://github.com/3cky/mbusd#systemd).

Please close this ticket

[2019-05-26 11:30] nickma82 commented on #49
Well, that's exactly what it's supposed to do - see https://github.com/3cky/mbusd/issues/24#issuecomment-349256945

I'm not sure whether such a feature would belong into "gateway software" [see: [About mbusd](https://github.com/3cky/mbusd#about-mbusd)] or not, because its more of an application itself than a gateway feature.

What would be the target server and protocol? There are *a lot of* iot s

[2019-05-26 11:48] nickma82 commented on #15
Isn't this a philosophy question (intel vs motorla)
https://m.control.com/thread/1026161289 ?

[2019-05-26 18:20] kinkazu opened #51 "Mbusd as TCP client and TCP master at the same time"
Hi. I have Modbus TCP slave which accept only one master and I would like to connect more to it. I believe it wouldn’t be that difficult for you gentleman to add extra function to mbusd to sort out this issue.
This might be useful to more people than me and could extend your great application by extra function?
Maybe you have any other ideas?
Big mbusd fan.
Kind regards

[2019-05-27 08:21] 3cky commented on #51
Duplicate of #48

[2019-05-27 08:23] 3cky commented on #51
Please follow the discussion in #48

[2019-05-27 08:23] #51 closed

[2019-05-27 08:51] 3cky commented on #48
No doubt this feature will be useful in some cases, but it's still not clear to me how to fit it into mbusd concept. At least we need to find the way to switch between RTU and TCP master modes using command line and/or the configuration file in a compatible way with existing setups (including systemd part).

[2019-05-30 07:36] #45 closed

[2019-07-05 13:06] LongHairedHacker opened #52 "Readable socket never gets read, conn_loop degrades into busy loop"
Hi,

we recently noticed some strange behaviour of mbusd in some of our more complex multimaster setups.
We use mbusd to read multiple devices one rtu bus from multiple modbus tcp masters.

After working flawlessly for some time, we noticed to mbusd started to cause a suspicious amount of cpu load.

Since this a production system and mbusd was compiled without the debug option,
I tried strace and

[2019-07-08 08:25] 3cky commented on #52
Thank you for your efforts with this issue debugging! I think you're right, the connection queue handling definitely should be moved outside of the switch block, so I'm going to merge your fix.

[2019-07-08 09:51] #52 closed

[2019-07-08 14:33] LongHairedHacker commented on #52
Thanks for the quick response.

I've deployed 0.4.0 on some staging systems and it dropped the load average from 0.8 to 0.04ish.
And it seems to stay stable at that level.
Usually we had at least one 'stuck' socket and high cpu load within a few hours.
Strace output also looks okay: The process spends the majority of its time sleeping while waiting for IO.
I'd confirm this one as fixed for now.

[2019-07-08 14:44] 3cky commented on #52
Great, thanks for testing!

[2019-07-13 10:57] vanrein opened #53 "Request to set address"
This looks like a really nice, small and highly usable utility.  Compliments!

To my surprise, there is no way to set an IP address, is that correct?  At the very least localhost would be interesting.

Also, I would appreciate IPv6 support, though in reality I would probably add an access-constraining gateway that could limit World access.  I'd then run this daemon on localhost only.

Although I d

[2019-07-13 13:01] vanrein commented on #26
@kb0thn
CMake can also cross-compile, of course, but you would need a suitable toolchain.  But a much simpler option should work as well with Debian multiarch:

 1. Have qemu started for foreign binaries
 2. Add your architecture to dpkg
 3. Install gcc:<arch> and binutils:<arch> but keep the CMake for the default platform
 4. cmake and make
 5. Move the software to your target platform

We've bee

[2019-07-15 09:46] 3cky commented on #53
You're right, there is no way to specify an IP address to bind for now, though mbusd socket-related code has support for binding to addresses different from `INADDR_ANY`. Add an option to bind to specified address shouldn't be a big deal, at least in IPv4 case. I'll look into it.

[2019-07-15 13:15] vanrein commented on #53
Wonderful, thanks!

[2019-07-16 21:41] rwalli opened #54 "Basic understanding"
Hello!

Could not get mbusd to work.
The request ([c8][03][00][01][00][01]) seems to be ok but there is a "tty: response timeout".
(tested with -v9 which gave no further information what is sent to serial device)
Maybe i do not understand the basic functionality of mbusd.
Is it the same as [modbusgw](https://sourceforge.net/projects/modbusgw/)?
Which is working but has a huge memory leak.

[2019-07-17 13:15] 3cky commented on #53
@vanrein I've added a config option 'address' and command-line option '-A' for setting up an IP address to bind. Both IPv4 and IPv6 are should be supported now, please test.

[2019-07-17 14:01] vanrein commented on #53
Hi 3cky,

It works like a charm, thank you very much!

I tested IPv4 and IPv6, both existing and non-existing addresses, and also the localhost addresses 127.0.0.1 and ::1.  It all worked as expected.

Good work :)
 -Rick

[2019-07-17 21:59] rwalli commented on #54
Sorry for opening this issue, its working now.
I compiled with -DTRXCTL because I thought it has no effect as long as it is not enabled by command line...

[2019-07-17 21:59] #54 closed

[2019-07-18 06:49] 3cky commented on #53
Great, thanks for testing! I'll close this issue, feel free to open new issue if needed.

[2019-07-18 06:49] #53 closed

[2019-07-29 02:44] jeffersonpimenta opened #55 "Abnormal function on RPI"
I'm having problems trying to running mbusd on RPI with ScadaBR. Here my setup:

![image](https://user-images.githubusercontent.com/11169349/62018133-d3997500-b18f-11e9-82fb-48f50add39bf.png)

I made one mod on the PCB that converts RS485 to serial to suporto 3.3V, it works, but sometimes i have problems.

![image](https://user-images.githubusercontent.com/11169349/62018192-080d3100-b190-11e9-90cb

[2019-07-31 09:50] 3cky commented on #55
Hi @jeffersonpimenta,

First of all, make sure you have disabled serial console on /dev/ttyS0 (see an example [here](https://spellfoundry.com/2016/05/29/configuring-gpio-serial-port-raspbian-jessie-including-pi-3/#Disabling_the_Console)).

Also, you have `trx_control = rts` in your config. Since RPi ttyS0 serial port doesn't have the RTS line, you probably would to replace `rts` with `addc` . If y

[2019-07-31 14:14] jeffersonpimenta commented on #55
Now it works fine: i notice tx blink one extra time before request from modbus, it should be activity on terminal spit out in serial.

Note: rts and addc makes no diference for me, works on both mode. In thesis this board has automatic tx and rx flow control.

Anyway, thanks!

[2019-08-07 12:09] #10 closed

[2019-08-07 12:09] #19 closed

[2019-08-07 12:10] #18 closed

[2019-08-07 12:10] #24 closed

[2019-08-07 12:10] #28 closed

[2019-08-07 12:10] #36 closed

[2019-08-07 12:10] #38 closed

[2019-08-07 12:10] #39 closed

[2019-08-07 13:44] #55 closed

[2019-10-07 14:38] #47 closed

[2019-10-23 12:10] #44 closed

[2019-10-23 12:10] #21 closed

[2019-10-23 13:10] #49 closed

[2019-10-23 13:10] #15 closed

[2019-12-10 14:48] #26 closed

[2020-04-12 19:55] thelamnguyen72 opened #56 "Service Failed to start"
Hi Victor
I'm trying to use mbusd on my raspberry Pi as a Modbus TCP 2 serial server and every time I reboot the pi it always displayed a message : "Failed to start Modbus TCP to Modbus (RS-232/485) gateway.
Here is output form systemctl

[code]
I've noticed the messages saying that:
"Start request repeated too quickly"
"Failed with result 'exit-code'

Please advice on this matter. Thanks

[2020-04-14 07:12] 3cky commented on #56
Did it work when started manually from the command line? If not, please start it with `-v9 -L/tmp/mbusd.log` options and post generated mbusd.log file here.

[2020-04-14 21:10] thelamnguyen72 commented on #56
Hello Victor,

I'd like to say thank you for taking time to answer my query, appreciate for that. Per you question, the mbusd service failed to start at boot time as console displayed messages. To double check I run:

sudo systemctl status mbusd@ttyUSB0.service
and get this:
  mbusd@ttyUSB0.service - Modbus TCP to Modbus RTU (RS-232/485) gateway.
   Loaded: loaded (/lib/systemd/system/mbusd@.servi

[2020-04-14 21:10] thelamnguyen72 commented on #56
Hello Victor,

I'd like to say thank you for taking time to answer my query, appreciate for that. Per you question, the mbusd service failed to start at boot time as console displayed messages. To double check I run:

sudo systemctl status mbusd@ttyUSB0.service
and get this:
  mbusd@ttyUSB0.service - Modbus TCP to Modbus RTU (RS-232/485) gateway.
   Loaded: loaded (/lib/systemd/system/mbusd@.servi

[2020-04-15 09:54] 3cky commented on #56
Looks like you forgot to add `-p` option before device name `/dev/ttyUSB0`, so mbusd is trying to open wrong serial port.

[2020-04-15 15:57] thelamnguyen72 commented on #56
Hello Victor,

Yes, you're right. my command line was missing -p option.
After manually start the service here is the log output

15 Apr 2020 16:51:38 mbusd-0.4.1 started...
15 Apr 2020 16:51:38 tty: state now is TTY_PAUSE
15 Apr 2020 16:51:38 conn_loop(): select(): max_sd = 4, t_out = 000000:100000
15 Apr 2020 16:51:38 conn_loop(): select() returns 0
15 Apr 2020 16:51:38 tty: state now is TTY_REA

[2020-04-17 15:02] 3cky commented on #56
Well, the log output looks normal. Did you try to connect to mbusd with a TCP client? If mbusd works when started by hand, I would suspect some problem in your systemd instance config file, like wrong bind address.

[2020-04-17 15:18] thelamnguyen72 commented on #56
Hello Victor,

Thank you again for your support. I’ve tried connecting the device in the scheme listed below:

[Host PC running ModScan software] <-------> cat5 cable <-------> [Raspberry PI running Mbusd]<-------> [usb2ser converter] <----->[rs232/rs485 converter]<-----> [Real modbus slave device ID:3]

I tried to poll the slave device without success. I know the slave device is working because I

[2020-05-12 13:43] embeddman opened #57 "Modbus RTU over TCP"
Hi! Are you planning to add modbus RTU over TCP feature? For example, instead of using Modbus TCP packet, deploy Modbus RTU over TCP packet. It's very comfortable thing for getting info via virtual COM port (emulating Modbus RTU device using TCP connection).

[2020-05-14 14:10] eikowagenknecht opened #58 "Service not starting after boot, but service running fine when started manually"
Hi there, I'm running this on a raspberry pi 3b, latest raspbian.

I can start mbusd via command line:
`pi@pi-modbus:~ $ sudo mbusd -c /etc/mbusd/mbusd-ttyUSB0.conf`
I can also start as a service:
`pi@pi-modbus:~ $ sudo systemctl start mbusd@ttyUSB0.service`
It runs just fine like that (log below for service start):
[code]
But when I enable the service:
[code]
And reboot the raspberry:
`pi@pi-modb

[2020-05-14 14:26] eikowagenknecht commented on #58
After some research (mainly https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/), I changed the service file `/lib/systemd/system/mbusd@.service` to include a reference ti network-online.target:

[code]

That seems to have fixed it and makes sense to me because mbusd cannot bind to the correct address until the network is up and running.

Maybe it would make sense to include this in t

[2020-05-15 14:22] 3cky commented on #58
Thank you! I'll update the service file with these changes.

[2020-05-15 14:23] 3cky commented on #58
Probably related to #56.

[2020-05-15 14:29] 3cky commented on #57
Though it's an interesting idea, I'm still not sure it will fit into the mbusd concepts of multiplexed access to the RTU network. Need to look into this more thoroughly.

[2020-05-21 10:00] #58 closed

[2020-05-21 12:11] embeddman opened #59 "Delay after sending frame via tty"
Hi!
Faced with trouble when sending frames via tty with parity enabled. RTS changes with gpio via sysfs. The solution was in extending delay after sending frame otherwise RTS changes every time on last byte and corrupt it. Maybe delay was calculated not taking into account that parity add extra bit to frame?

[2020-05-21 19:44] 3cky commented on #59
Hi @embeddman, сould you provide some info about the hardware you're using?

[2020-05-22 01:40] embeddman commented on #59
Hi @3cky, I'm using imx6ul from NXP.

[2020-05-22 11:51] 3cky commented on #59
@embeddman I've pushed some fixes related to the timing calculations, please test.

[2020-05-22 12:41] embeddman commented on #59
@3cky Now works fine, even more accurate timing than my solution.
![rts](https://user-images.githubusercontent.com/28537505/82668644-2b93f180-9c64-11ea-88d2-c48c74e61529.PNG)

[2020-05-23 02:14] #59 closed

[2020-07-16 18:22] albertogonb opened #60 "Patch to support extended baud rates"
I ask you to add the following patch to support 230400, 500000 and 1000000 Baud.
I have successfully tested these speeds on Fedora 31 and Raspbian 10.
The patch is for version 0.4.0.

[code]

[2020-07-29 12:24] dgoo2308 opened #61 "On Broadcast write mbusd wait's for feedback and provides feedback"
A write to unitId 0 is considered a broadcast and no devices should acknowledge although `mbusd` wait's for a response from servers, which it should not do as the servers are not allowed to acknowledge this.

This leads also to resends due to the time-outs and blocks the bus during that time () of waiting 3 times for 8 bytes.

Log unpatched:
[code]

solution tested for FC05 broadcast

[code]

Log

[2020-07-30 09:10] 3cky commented on #61
Thanks for pointing to this issue. The problem seems to be more complex though. Since Modbus/TCP neither specifies Unit ID 0 as a broadcast address nor defines the broadcast function at all, some of Modbus/TCP slaves (especially old ones) could use zero ID as a valid unicast slave address. But I agree mbusd should handle zero Unit ID more gracefully. I'll look into it.

[2020-07-31 14:30] dgoo2308 commented on #61
@3cky  Thanks.

Sorry but I thought `mbusd` was to provide a gateway to `Modbus RTU`, which (`Modbus RTU`) per spec defines that:
- devices should not acknowledged a write on unitId 0
- Clients should not wait for an acknowledge, nor retry a write on unitId 0.

I can say it does get very messy when devices e.g. [arduino slaves](https://github.com/yaacov/ArduinoModbusSlave) start an action on a bro

[2020-08-13 07:17] #60 closed

[2020-08-13 13:45] 3cky commented on #61
@dgoo2308 I've pushed the fix for RTU broadcast address writing, please test.

[2020-08-16 09:50] dgoo2308 commented on #61
@3cky so sorry for delay, I I'll try to squeeze the test in before my holiday next week otherwise it will be the second week of September.

I did notice for the tests that FC5 broadcast, write coil, is not tested.

[2020-08-30 16:17] dgoo2308 commented on #61
@3cky

looks very good, I did a quick test with `libmodbus` in c:

[code]

`libmodbus` still complains with `Fail broadcast Operation timed out` but that is an other problem to tackle.

results in a nice log without timeouts and no reply.
[code]

[2020-08-30 16:17] #61 closed

[2020-08-31 06:10] Abbad-Zafar opened #64 "How to handle multiple slaves on Single USB Port"
I want to connect 2 devices on single port example USB0 with same baudrate for both devices. How can i do it ?

[2020-08-31 06:11] Abbad-Zafar commented on #64
@3cky

[2020-09-01 08:58] #64 closed

[2020-09-15 00:42] #56 closed

[2020-09-22 07:00] mtmmax opened #65 "mbusd uart"
Hello
Tell me how to connect and configure Mbusd
I have Loxberry installed
trying to connect modbus to UART 0 or Uart1 Raspberry pi
port / dev / ttyAMA0
/ dev / ttyS0
tell me where to change what settings?

[2020-09-28 11:01] Abbad-Zafar opened #66 "Need to know the services necessary to make mbusd work"
I have a 2 pi's one with raspbian image and another with another image with less services.
mbusd is working fine on raspbian not on other image with less services.
Please let me know the services required to make it work. So i can install it.

[2020-10-04 11:54] ddokupil opened #67 "mbusd doesn't work via systemd"
At my configurations, both RPI3 with openhabian ands NanoPI mbusd works fine when executed by
$sudo mbusd -L/tmp/mbusd.log -p /dev/ttyUSB0 -s 9600 -P 502 -d -v9
but fails when started as a service with no error indicated:

Oct 04 13:41:59 openhab mbusd[6494]: 04 Oct 2020 13:41:59 conn_open(): accepting connection from 192.168.1.196
Oct 04 13:42:00 openhab mbusd[6494]: 04 Oct 2020 13:42:00 conn_clo

[2020-10-30 14:45] Abbad-Zafar opened #68 "Need to know the connection limit ?"
My log says connection limit reached.
How many connections can be establish at time ?

[2020-11-14 18:26] j123b567 opened #69 "Modbus RTU slave mode"
Is it possible to run mbusd in reversed mode? So

- on one end, mbusd is TCP server as it is now, but in Modbus/TCP master mode
- on the other end, mbusd is connected to RS-485 and behaves as Modbus/RTU slave

So, basically, if there is some "dumb" mode, where mbusd just understand Modbus/RTU framing, crc and not the content and pack/unpack messages to/from TCP.

[2020-11-24 13:53] zaricd opened #70 "Raspberry Pi ttyUSB0 errors"
Hi

When I run mbusd with ttyUSB0 on my Raspberry Pi Compute Module I get those errors:

24 Nov 2020 13:43:37 tty: trying to open /dev/ttyUSB0 (speed 9600 mode 8N1)
24 Nov 2020 13:43:38 tty: error in read() (Resource temporarily unavailable)
24 Nov 2020 13:43:38 tty: trying to open /dev/ttyUSB0 (speed 9600 mode 8N1)
24 Nov 2020 13:43:38 tty: error in read() (Bad address)

I tested ttyUSB0 from Lin

[2020-11-28 08:44] 3cky commented on #68
TCP connections limit is set up by `-C` command line option or by `maxconn` config file option. Default is 32, max is 128.

[2020-11-28 08:54] 3cky commented on #70
Hello @zaricd, could you run mbusd with `-v9` option and post the complete log here?

[2020-11-28 09:00] 3cky commented on #69
Sorry, but currently mbusd acts only as a gateway from TCP to RTU network, and reverse mode is not supported.

[2020-11-28 09:06] 3cky commented on #67
Hello @ddokupil, sorry for such a late response.

Are you sure you need 8e1 and not 8n1 mode here? You wrote it works fine when you run mbusd from the command line with default mode which is 8n1.

[2020-11-28 11:38] j123b567 commented on #69
Ok, thank you.

[2020-11-28 11:38] #69 closed

[2020-11-28 13:12] zaricd commented on #70
Victor

Thanks for replay, I went and debug it in CLion, I found that problem was with echo coming back from my RS485 hardware, when in sending mode. Disabling echo solved problem.

[2020-11-28 13:12] #70 closed

[2020-12-10 12:00] m-alperensener opened #71 "CRC tx delay"
When I view the serial port at the receiving end I see that CRC of the modbus packet seems to be delayed, and even though I feed the correct responce mbusd returns exception code ....\83\0b

request: \00\01\00\00\00\06\01\03\00\00\00\n
response: \00\01\00\00\00\03\01\83\0b

[2021-03-01 11:22] b0czek opened #72 "Tty response timing out"
Hello. I wanted to use your gateway with a motor driver on raspberry pi, but I have encountered a problem, that the tty response always times out which would suggest that the driver does not even respond to requests. When I try to connect with it via RCU on Windows machine it works flawlessly. I use the same transmission parameters as on the Windows machine and I tried to tinker with timeout and w

[2021-03-05 17:18] eikowagenknecht opened #73 "(Question) How to log values sent?"
I'm currently experiencing a strange phenomena where one of my modbus devices "automatically" turns itself on. To investigate this further, my idea was to set the logging level in mbusd so that I can see what is sent to the device and when.

I discovered that up lo loglevel 4 sending does not create any log entries, in level 5 it begins to log the request but also very much information that I don'

[2021-03-09 12:48] 3cky commented on #73
Right now mbusd doesn't have an option to log request/responses only, but you could use `-L-` option to enable logging to stdout and then use filtering. Something like this:

`mbusd -p /dev/ttyUSB0 -s 9600 -P 502 -d -v5 -L- | grep "request:\|response:" > log.txt`

[2021-03-09 13:07] 3cky commented on #72
Looks like your TCP master sends requests to the RTU device with Slave ID set to `FF`:

`01 Mar 2021 11:03:30 conn[192.168.1.53]: request: [ff][03][03][00][00][01]`

Make sure your RTU slave has the same Unit/Slave ID. If not, change its value either on master or slave device.

[2021-03-11 10:23] b0czek commented on #72
Thank you for responding, I don't have the hardware at hand anymore unfortunately, so I can't verify that but it seems that it is the case. Thank you for help.

[2021-03-11 10:23] #72 closed

[2021-03-20 01:32] #66 closed

[2021-03-20 01:32] #65 closed

[2021-03-25 17:26] towen opened #74 "tty: dropped 205 bytes"
Hi,

When running on a Raspberry Pi connected to a Modbus RTU slave over RS232 (TTL) I get no response from mbusd.
I am using the 'sunspec2' library. If I connect sunspec2 as an RTU client directly to the serial port (ttyUSB0) it works fine. But if I connect mbusd to the serial port and try to connect sunspec2 as a TCP client to mbusd, it times out.
If I monitor the serial port, I can see the data

[2021-03-30 15:49] 3cky commented on #74
Looks like your RTU slave is configured to use address 0 which is reserved for a broadcast address in Modbus protocol. In broadcast mode, the master sends a request to all slaves and no response is returned to broadcast requests sent by the master. Hence mbusd ignores this unexpected response message and logs the message about dropped bytes.

Could you configure your RTU device to use another addr

[2021-03-30 15:51] towen commented on #74
Aha of course! Thanks! :)

[2021-03-30 15:51] #74 closed

[2021-06-23 14:15] dgoo2308 commented on #16
@dvader @3cky  out of curiosity I looked into it and I have an implementation ready that should work, but  .....
do you have any modbus-clients that can connect to a domain socket?

[2021-07-01 04:42] albertshanhandoko opened #76 "How to compile in mips architecture"
Please give advice on how to compile this program on mips architecture

Thank you

[2021-07-08 01:56] #68 closed

[2021-07-08 01:56] #67 closed

[2021-07-08 01:56] #71 closed

[2021-10-11 11:32] enp6s0 opened #77 "How to read data from multiple RTU slaves?"
Let's say my setup is two Modbus RTU sensors connected over RS485. Both sensors have the same input register, say, at ID 1 and 2 I can read from. One sensor is at address 1, and the other is at address 2. They are on the same RS485 bus.

Not sure if I'm understanding Modbus TCP correctly, but how could I read those two distinct sensors through mbusd? I'm using [pyModbusTCP](https://pypi.org/projec

[2021-10-11 11:55] #77 closed, assigned to nobody

[2021-11-03 15:26] AlexDavies501 opened #78 ""error in read()" error messages"
fyi

We were seeing a lot of mbusd errors in `journalctl` of the form

[code]

After reducing the `retries` from 3 to zero, they've gone from being every minute,
to every few hours.

Looking at the code where the `error in read` is generated:

[code]

and

[code]

...they both come from `conn_read()` returning `<= 0`.

And `conn_read` is:

[code]

The printed error message = Resource temporarily u

[2021-11-03 15:38] AlexDavies501 commented on #78
One more datapoint...

We have also seen those errors with `errno` set to `EFAULT` eg.

[code]

[2021-11-10 17:08] 3cky commented on #78
@AlexDavies501 thanks for the report! Could you provide some additional info about the software and hardware environment you're running? Kernel version, platform, etc.

[2021-11-10 17:42] AlexDavies501 commented on #78
Hi.

Edited `uname -a` output (removed the computer name) below:

[code]

The hardware is a Technologics 7970 embedded computer. Has two serial ports. We run mbusd against one of these.

[code]

The config file now looks like:

[code]

With the above config i see a dozen `tty: error in read() (Resource temporarily unavailable)` errors for today, and 3 or 4 for each of the previous 4 days.

Origina

[2021-11-12 15:16] 3cky commented on #78
Hi, thanks for the info!

I've pushed some fixes regarding handling EAGAIN read() result. Сould you test mbusd compiled from the latest sources?

[2021-11-12 15:54] AlexDavies501 commented on #78
Many thanks for the quick turn around.

Will try to test a fix next week.

The actual system in question is several thousand miles away...
thankfully ssh makes that not too much of a problem!

[2021-12-23 02:05] octane321 opened #80 "service stops working after several hours - looking for help"
Hi there and first of all a very big THX for this wonderful software.

I´m running the mbusd on a rpi 3b with a iobroker slave. I´m reading my solar charge controllers wich are connected via RS485 and it worked just fine for month until i had to replace the SD-Card and reinstall alsmost everything.
On the new OS the service works for hours and then connectionproblems occur.
It can only be solved b

[2021-12-23 13:58] 3cky commented on #80
Hello @octane321!

Could you provide some additional info about your setup? Which OS version, iobroker and serial adapter hardware did you run successfully before, and what is changed after?

[2021-12-23 17:22] octane321 commented on #80
Hi @3cky
thanx for your quick reply
OS: Raspbian 11 (bullseye)
Node.js v14.18.2
NPM 6.14.15
js-controller v3.3.21

The serial adapter is this one https://www.ebay.de/itm/142659997743
The hardware didn´t change - its the same as before

Only new SD-Card and fresh OS install.

THX!

[2021-12-24 13:42] 3cky commented on #80
It's FT232RL based, right?

AFAIK, FT232RL linux device name should be `ttyUSB0`. So why service references `ttyXR_EP0` device name?

[2021-12-24 13:57] octane321 commented on #80
Sorry, i should have mentioned this.
i have more than one of these USB-RS485 converters connected and to identify the right one, i had to add a udev rule depending on the USB Port where the adapter is connected.

so this is output of /ls -lah /dev/tty*

![grafik](https://user-images.githubusercontent.com/45717549/147357461-25e718f3-bb08-43c5-b32c-057083ba2227.png)

i also tried with /dev/ttyUSB1 b

[2021-12-27 10:58] 3cky commented on #80
Well, that explains a lot. :)

Had a look at the log file. It seems mbusd receives TCP request for single discrete input number `0x2000` read (function code `0x02`) from slave device with address `0x02`:

and sends it to RTU device:

but doesn't receive any response after 3 retries:

Not quite sure why this is happening. Maybe the USB adapter is silently disconnecting? Do you have any messages rel

[2022-01-01 12:21] octane321 commented on #80
You are absolutely right:
Found following message with `dmesg -T`

`[Sa Jan  1 03:07:00 2022] ftdi_sio ttyUSB0: usb_serial_generic_read_bulk_callback - urb stopped: -32
[Sa Jan  1 04:04:57 2022] ftdi_sio ttyUSB0: usb_serial_generic_read_bulk_callback - urb stopped: -32`

i read something about it and maybe the new kernel has a bug or something....do you have any idea how i could fix the issue?

TH

[2022-01-04 13:35] octane321 commented on #80
Issue is solved - it was a bad USB Kable!
Working perfect again!
@3cky Thanks again for your help

[2022-01-04 13:35] #80 closed

[2022-01-06 21:31] rfc1036 opened #81 "Support more complex device names"
Pseudo-patch for the systemd unit:

[code]

This way if the unit is called `mbusd@serial-rs485.service` then it will use `/dev/serial/rs485`.

[2022-01-07 09:56] dar3khudy opened #82 "/dev/ttyUSB0 is starting like /dev/ttyS0"
I'm using it with USB to RS485 converter which is present like /dev/ttyUSB0, but when I'm starting mbusd it is opening ttyS0 (in my case it is different port!)
sudo mbusd -d /dev/ttyUSB0 -s 9600 -m 8N1 -t -P 5002
07 Jan 2022 10:54:35 mbusd-0.5.1 started...
07 Jan 2022 10:54:35 tty: trying to open /dev/ttyS0 (speed 9600 mode 8N1)
I have fixed it by remove ttyS0 and symbolic linc it to USB0 but it i

[2022-02-17 09:45] 3cky commented on #78
Glad to hear the problem is sorted out! So I'm closing this issue, please feel free to reopen if needed.

[2022-02-17 09:45] #78 closed

[2022-02-17 10:12] #81 closed

[2022-02-17 10:13] 3cky commented on #81
Done, thanks for the suggestion!

[2022-03-02 11:19] #76 closed

[2022-03-15 09:01] vanrein opened #84 "Crash due to missing `logw()` argument"
I triggered a simple oversight in `master`, in `src/conn.c` it says

[code]

There should be 3 arguments after the `logw()` format string, not 2.  The crashing stopped when I changed `[%s]` to `[%%s]`.

I may have been doing something wrong —I am starting a project and am may be sending invalid packets— but your dæmon might want to stick around to tell me off :-)

[2022-03-24 13:21] PrasadThorat74 opened #85 "'/W' requires an argument"
Severity	Code	Description	Project	File	Line	Suppression State
Error	D8004	'/W' requires an argument		mbusd.git\cl	1

![Screenshot 2022-03-24 185026](https://user-images.githubusercontent.com/102302504/159925032-5df5fe73-e11d-4005-86d6-8d9bbeb32700.png)

[2022-04-06 05:42] dgoo2308 commented on #84
@vanrein

please try with adding `conn->remote_addr` in the logw of `conn_fix_request_header_len`

[code]

[2022-04-06 07:57] vanrein commented on #84
That fixes the problem, indeed.  Thanks.

To test, I reconstructed the situation because it was originally my bug triggering yours; my bug has since been fixed.  So I added an `else` branch printing to also produce this error, I saw that crash in the same manner, and then applied your fix to see the crash gone.

[2022-04-06 13:17] 3cky commented on #84
Thanks, guys. Indeed `conn->remote_addr` argument was missing. Will fix it.

[2022-04-06 14:13] #84 closed

[2022-04-06 14:55] 3cky commented on #85
It looks like you're trying to compile mbusd using the MSVC compiler (cl). Unfortunately, only GCC-compatible compilers are supported for now by the mbusd build system.

[2022-04-15 12:59] wax911 commented on #82
Aren't you suppose to use `-p /dev/ttyUSB0` since `-p` is the param for the device? 🤔

[2022-08-18 05:43] dgoo2308 opened #86 "version 0.5.1."
@3cky

Could I suggest a new version 0.5.1 to reflect the changes of this stable master and thus allows us to create packages with this version?

Thanks in Advance.

[2022-08-18 17:44] 3cky commented on #86
Done! https://github.com/3cky/mbusd/releases/tag/v0.5.1

[2022-08-18 17:44] #86 closed

[2022-10-19 03:23] ensmartcontrols opened #87 "mbusd"
Hi,
  I deployed mbusd application in Tinker board R2.0 ,Tested with Normal Modbus Devices , It is communicating with well,

Now we are going to integrate Danfoss VFD using mbusd application, We got Modbus addressing as below. Whether mbusd will support on this.

Model: Danfoss Fc102
(Six Digit Holding Register)
415010- Running Hours
415020- Kwh Counter
etc.,
[DanfossFC102 (1).xls](https://github.

[2022-10-25 10:21] vanrein opened #88 "Missing device is retried forever [and blocks anything else]"
This is some output from v0.5.1 without the expected device connected:

[code]

Note that the transaction identifier in responses is stuck at 00 00 and nothing else is tried.

Are you intentionally sending a provisional response "hold on, will keep trying... forever if need be"?

In any case, with other devices also on the bus, their communication also gets halted, so I suspect this is a bug, name

[2022-10-25 10:22] vanrein commented on #88
It's very instructive to remove the power from one device while scanning multiple.

[2022-10-25 10:34] vanrein commented on #88
This is an example where I rip the power from one device and the other seems to end up queued forever while `mbusd` blocks on the powerless one and continues to try to send transaction 000e.  Not ideal from a stability viewpoint :-)

[code]

[2022-10-25 10:35] vanrein commented on #88
In case you find it useful, this is the [generating code](https://gitlab.com/groengemak/mbusc/) for the output above.

[2022-10-25 10:39] vanrein commented on #88
Interestingly, the return of power does not recover the interaction.  The state of `mbusd` appears disturbed, and it cranks out only those failures for the once-failed transaction.

[2022-10-28 10:26] 3cky commented on #87
Hello,

Since "six-digit" is just a form of representation for Modbus entities, mbusd should work OK with it if your Modbus TCP software is doing its part of the translation from 6-digit to standard function/register form.

[2022-10-28 10:34] 3cky commented on #88
Could you also provide the mbusd debug log file, as described [here](https://github.com/3cky/mbusd#reporting-bugs)?

[2022-11-16 15:09] vanrein commented on #88
Sorry for the slow response; I was distracted by IETF 115.

I cannot reproduce it at this point, even though I tried two flavours of hardware (USB to RS-485) tokens.

I made many changes, but not to this core, so this leaves me a bit dissatisfied.  Alas, I suppose we should close for now, and perhaps I can reopen the issue if I run into this again.  I will then also supply the mbusd debugging outp

[2022-11-16 15:09] #88 closed